package:
  name: pvapy
  version: PVA_PY_VERSION

source:
  git_rev: PVA_PY_GIT_VERSION
  git_url: https://github.com/epics-base/pvaPy

build:
  number: 1

requirements:
  build:
    - python
    - sphinx
    - numpy 
    - epics-base
    - pvapy-boost

  run:
    - python
    - numpy 
    - epics-base
    - pvapy-boost

about:
  home: https://github.com/epics-base/pvaPy
  license: EPICS Open License
  summary: Python library for EPICS PV Access 



