QtC-*
bin/
lib/
include/
config.log
configure/*.local
**/O.*
**/dist
**/*.pyc
**/__pycache__
tools/pip/**/build
tools/local/**/build
tools/autoconf/install-sh
tools/autoconf/missing
tools/autoconf/config.status
tools/autoconf/configure
tools/autoconf/Makefile.in
tools/autoconf/Makefile
tools/autoconf/aclocal.m4
tools/autoconf/autom4te.cache/
documentation/sphinx/_build/
tools/pip/epics-base-pip/epics-base
tools/pip/pvapy-boost-pip/pvapy-boost
tools/pip/pvapy-pip/pvapy
tools/pip/pvapy-pip/pvaccess*
tools/pip/pvapy-pip/README.md
tools/pip/**/*.egg-info
tools/conda/epics-base-conda/meta.yaml
tools/conda/pvapy-boost-conda/meta.yaml
tools/conda/pvapy-conda/meta.yaml
pvaccess/pvaccess.so
wheelhouse


