numpy==1.19; python_version < '3.8'
numpy==1.22; python_version >= '3.8' and python_version < '3.9'
numpy==2.0; python_version >= '3.9' and python_version < '3.13'
numpy==2.1; python_version >= '3.13'
pylint
pytest
setuptools
sphinx
sphinx_rtd_theme
wheel
auditwheel
twine
