package:
  name: pvapy-boost
  version: BOOST_VERSION

source:
  url: https://sourceforge.net/projects/boost/files/boost/BOOST_VERSION/boost_BOOST_DOWNLOAD_VERSION.tar.gz

build:
  number: 1

requirements:
  build:
    - python
    - numpy>1.15

  run:
    - python
    - numpy>1.15

about:
  home: http://www.boost.org
  license: Boost Software License
  license_file: LICENSE_1_0.txt
  summary: Boost python libraries needed by PvaPy 


