// Copyright information and license terms for this software can be
// found in the file LICENSE that is included with the distribution

#include "boost/python/scope.hpp"
#include "PvaConstants.h"

using namespace boost::python;

//
// Various constants
// 
void wrapConstants()
{

scope().attr("__version__") = "PVAPY_VERSION";
scope().attr("ALL_FIELDS_REQUEST") = PVA_ALL_FIELDS_REQUEST;
scope().attr("FIELD_VALUE_REQUEST") = PVA_FIELD_VALUE_REQUEST;

} // wrapConstants()

